<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--Bootstrap-->
    <title> NOVA </title>
  </head>
  <body>
    <br>
    <ul>
        <button class="log" routerLink="/login">LogIn</button>
            <!--<a routerLink="/login">LogIn</a>-->
    </ul>
    <div class="catalog">
      <div class="catalog-item">
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/9d8e73e436b536a7c81644c6e9877c7a_1c9d0f90-9991-4326-8f37-3dd980abeacf_480x.progressive.jpg?v=1573590262" alt="Movie 1">
        <div class="catalog-item-title">Back to the Future</div>
        <div class="catalog-item-description">
          El adolescente Marty McFly es amigo de Doc, un científico que ha construido una máquina del tiempo. Cuando los dos prueban el artefacto, un error fortuito hace que Marty llegue a 1955, año en el que sus padres iban al instituto y todavía no se habían conocido. Después de impedir su primer encuentro, Marty deberá conseguir que se conozcan y se enamoren, de lo contrario su existencia no sería posible.
        </div>
        <br>
        <form action="https://www.netflix.com/search?q=back%20to&jbv=60010110">
          <button type="submit">Netflix</button>
        </form>
      </div>

      <div class="catalog-item">
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/4940c5878babf3dc5d2ca567b7558178_9e62fc4c-4116-48e5-a4f5-3a99c73ae7b1_480x.progressive.jpg?v=1573651499" alt="Movie 2">
        <div class="catalog-item-title">Jurassic Park</div>
        <div class="catalog-item-description">
          El multimillonario John Hammond hace realidad su sueño de clonar dinosaurios del Jurásico y crear con ellos un parque temático en una isla. Antes de abrir el parque al público general, Hammond invita a una pareja de científicos y a un matemático para que comprueben la viabilidad del proyecto. Sin embargo, el sistema de seguridad falla y los dinosaurios se escapan.
        </div>
        <br>
        <br>
        <form action="https://www.primevideo.com/detail/0L8FKO6LQF7C8M7OIOLHIC566C/ref=atv_price_hov">
          <button type="submit">Rentar</button>
        </form>
      </div>

      <div class="catalog-item">
        <img src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/255053349_408225954164881_580470973376990445_n_480x.progressive.jpg?v=1637860151" alt="Movie 3">
        <div class="catalog-item-title">Spider-Man: sin camino a casa</div>
        <div class="catalog-item-description">
          Tras descubrirse la identidad secreta de Peter Parker como Spider-Man, la vida del joven se vuelve una locura. Peter decide pedirle ayuda al Doctor Extraño para recuperar su vida. Pero algo sale mal y provoca una fractura en el multiverso.
        </div>
        <br>
        <br>
        <br>
        <br>
        <form action="https://play.hbomax.com/page/urn:hbo:page:GYqeASQeezEo8igEAAACK:type:feature?source=googleHBOMAX&action=open">
          <button type="submit">HBO</button>
        </form>
      </div>
      <!-- add more catalog items here -->
    </div>
  </body>
</html>


